{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{% static 'helloworld/bootstrap.css' %}">
    <title>Todo  App</title>
    <style>
      .header{
        background-color: teal;
      }
      .header>.container>h3{color:#fff;padding:40px}
      .mr50{margin-top:20px;}
      .card{
        -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.4);
        -moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.4);
        box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.4);
        background-color:teal;color:#fff;
        }
        .card_bg{
        background-color:green;color:#fff;
        }
        .card_bg_2{
        background-color:red;color:#fff;
        }
        #no_link{
            text-decoration: none;
            color:#fff;
            
            }
    </style>
  </head>
  <body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}">Jithendra Kumar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
           
            <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                            {% if request.path == '/' %}
                            <a class="nav-link active" href="{% url 'index' %}">Home  <span class="sr-only"></span></a>
                            {% else %}
                            <a class="nav-link " href="{% url 'index' %}">Home <span class="sr-only"></span></a>
                            {% endif %}

                    </li>
                    <li class="nav-item ">
                            {% if request.path == '/about' %}
                            <a class="nav-link active" href="{% url 'about' %}">About <span class="sr-only"></span></a>
                            {% else %}
                            <a class="nav-link " href="{% url 'about' %}">About <span class="sr-only"></span></a>
                            {% endif %}
                    </li>
                    <li class="nav-item ">                       
                            {% if request.path == '/blog' %}
                            <a class="nav-link active" href="{% url 'blog' %}">Blog <span class="sr-only"></span></a>
                            {% else %}
                            <a class="nav-link " href="{% url 'blog' %}">Blog <span class="sr-only"></span></a>
                            {% endif %}
                            
                    </li>
                    <li class="nav-item ">                       
                        {% if request.path == '/getin  ' %}
                        <a class="nav-link active" href="{% url 'getin' %}">Login <span class="sr-only"></span></a>
                        {% else %}
                        <a class="nav-link " href="{% url 'getin' %}">Login <span class="sr-only"></span></a>
                        {% endif %}
                    </li>
                    <li class="nav-item ">                       
                        {% if request.path == '/reg  ' %}
                        <a class="nav-link active" href="{% url 'reg' %}">Signup <span class="sr-only"></span></a>
                        {% else %}
                        <a class="nav-link " href="{% url 'reg' %}">Signup <span class="sr-only"></span></a>
                        {% endif %}
                    </li>
                    
                  </ul>
            </div>
        </div>
      </nav>
    <div class="container-fluid header">
          <div class="container">
              <h3>What Do You Want To Do...!</h3>
          </div>
    </div>
          {% block body_block %}
            <!-- achival code goes here  -->
          {% endblock body_block %}
   
    



    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
    $(document).ready(function(){
var li = document.getElementsByTagName("input");
var lit = document.getElementsByTagName("textarea");
  for(i=0;i<li.length;i++){
     li[i].classList.add("form-control");
     lit[i].classList.add("form-control");
  }
});

</script>
</body>
</html>