<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login </title>
</head>
<body>
  <h1>Login Here</h1>
  {% if message %}
      <div>
          <h5> {{message }}</h5>
      </div>
  {% endif %}
  <form action="" method="POST">
    {% csrf_token %}
    <lable>Username</lable>
    <input type="text" name="username" value="" placeholder="Username"><br>
    <lable>Password</lable>
    <input type="password" name="password" value="" placeholder="Password"><br>
    <input type="submit" name="submit" value="Submit">
  </form>
</body>
</html>
