<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Weather App</title>
    <style>
      .header{
        background-color: teal;
      }
      .header>.container>h3{color:#fff;padding:40px}
      .mr50{margin-top:20px;}
      .card{
        -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.4);
        -moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.4);
        box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.4);
        background-color:teal;color:#fff;
        }
    </style>
  </head>
  <body>
    
    <div class="container-fluid header">
          <div class="container">
              <h3>What is weather like?</h3>
          </div>
    </div>
    <div class="container">
      <div class="row mr50">
          <div class="col-3"></div>
          <div class="col-6 ">
              <form  method="POST">
                  <div class="input-group mb-3">
                      <!-- <input type="text" class="form-control" placeholder="City name" > -->
                      {{form.name}}
                      {% csrf_token %}
                      <div class="input-group-append">
                        <button class="btn btn-success" type="submit">Add City</button>
                      </div>
                    </div>
              </form>
          </div>
          <div class="col">
            
          </div>
      </div>
    </div>
    <div class="container"> 
      
     
      <div class="row mr50 justify-content-md-center">
          {% for city_weather  in  weather_data %}
        <div class="col-md-auto mr50">
            <div class="card" style="width: 20rem;">
                <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                <div class="card-body">
                  <div class="row">
                    <div class="col-4">
                        <img class="card-img-top" src="http://openweathermap.org/img/w/{{city_weather.icon}}.png" alt="Card image cap">
                    </div>
                    <div class="col-8">
                        <h4 class="card-title text-uppercase">{{ city_weather.city}} </h4>
                        <h5 class="card-text">{{ city_weather.temperature}}° F </h5>
                        <p class="card-text">{{ city_weather.description}} </p>
                        <!-- <p>{{ city_weather.id}}</p> -->
                        <!-- <a href="/delete_new/{{city_weather.id}}/" class="btn btn-danger btn-md"> Delete </a> -->
                    </div>
                  </div>
                
                </div>
            </div>
        </div>
        {% endfor %}
      </div>
      
    </div>
    



    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>